# MongoDB Connection String (Local or MongoDB Atlas)
MONGODB_URI=mongodb://localhost:27017/cloudmar
# For MongoDB Atlas example:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/cloudmar?retryWrites=true&w=majority
